<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd" id="WebApp_ID" version="4.0">
  <display-name>SQLUI</display-name>
  <welcome-file-list>
    <welcome-file>SQLHome.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SqlController</display-name>
    <servlet-name>SqlController</servlet-name>
    <servlet-class>com.sql.controller.SqlController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SqlController</servlet-name>
    <url-pattern>/SqlController</url-pattern>
  </servlet-mapping>
</web-app>